table{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.tbl {
    text-align: center;
    width: 32%;
    border: 2px solid black;
    margin-top: 15px;
    margin-left:250px;
}
tr,th {
    border: 2px solid black;
}
th {
    background-color: rgb(250, 98, 98);
}